# Unity generici
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb

# Pacchetti
Packages/packages-lock.json

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# Sistemi operativi
.DS_Store
Thumbs.db

# File compressi o temporanei pesanti
*.zip
*.rar
*.7z
*.tar
*.gz

# File binari grandi che non devono stare in git
*.apk
*.exe
*.iso
*.mp4
*.avi
*.mov
*.mkv
*.obb

# File temporanei specifici o test
test.apk
prova.apk
